@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 15px;
  line-height: 1.6;
  font-family: "Roboto", "sans-serif";
  font-size: 2em;
}

h1 {
  max-width: 70%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 65%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75em;
}

td {
  height: 50px;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}